<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip.install" />
  <package id="adobereader" />
  <package id="autohotkey.portable" />
  <package id="awscli" />
  <package id="brave" />
  <package id="chocolatey" />
  <package id="chocolatey-compatibility.extension" />
  <package id="chocolatey-core.extension" />
  <package id="chocolatey-dotnetfx.extension" />
  <package id="chocolatey-misc-helpers.extension" />
  <package id="chocolatey-windowsupdate.extension" />
  <package id="cpu-z" />
  <package id="cpu-z.install" />
  <package id="crystaldiskinfo" />
  <package id="crystaldiskinfo.portable" />
  <package id="crystaldiskmark" />
  <package id="docker-desktop" />
  <package id="dotnet-8.0-desktopruntime" />
  <package id="dotnet-desktopruntime" />
  <package id="dotnetfx" />
  <package id="epicgameslauncher" />
  <package id="Firefox" />
  <package id="gdu" />
  <package id="git" />
  <package id="git.install" />
  <package id="github-desktop" />
  <package id="goggalaxy" />
  <package id="googledrive" />
  <package id="jdownloader" />
  <package id="KB2919355" />
  <package id="KB2919442" />
  <package id="KB2999226" />
  <package id="KB3033929" />
  <package id="KB3035131" />
  <package id="keepass" />
  <package id="keepass.install" />
  <package id="kubernetes-cli" />
  <package id="Minikube" />
  <package id="mobaxterm" />
  <package id="nano" />
  <package id="nano-win" />
  <package id="notepadplusplus" />
  <package id="notepadplusplus.install" />
  <package id="notion" />
  <package id="NTop.Portable" />
  <package id="openlens" />
  <package id="openvpn-connect" />
  <package id="Opera" />
  <package id="playnite" />
  <package id="plex" />
  <package id="plexmediaserver" />
  <package id="powertoys" />
  <package id="python3" />
  <package id="python311" />
  <package id="python312" />
  <package id="qbittorrent" />
  <package id="steam" />
  <package id="terraform" />
  <package id="vcredist140" />
  <package id="vcredist2015" />
  <package id="vcredist2017" />
  <package id="vlc" />
  <package id="vlc.install" />
  <package id="vscode" />
  <package id="vscode.install" />
</packages>